@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap');* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
}
header{
    box-shadow: 0px 1.64744px 8.2372px 0px rgba(0, 0, 0, 0.10);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.logo img {
    width: 30px;
}

.logo a {
    color: #545BE8;
    text-align: center;
    font-family: Roboto;

}
nav ul{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
nav ul li a{
    color: #101928;
    font-family: Poppins;
}
.auth{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.login a{
    color: #545BE8;
    border-radius: 5px;
    border: 0.412px solid #545BE8;
    padding: 10px 15px;
    font-family: Inter;
}
.register a{
    color: #fbfbff;
    background-color: #545be8;
    border-radius: 5px;
    padding: 10px 15px;
    font-family: Inter;
}